# Supabase Environment Variables
VITE_SUPABASE_URL=https://tnyleodpvqjzxddbczya.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRueWxlb2RwdnFqenhkZGJjenlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MTczNjIsImV4cCI6MjA5ODQ5MzM2Mn0.S9TVi-3-egoT7jrOJYrx8Gb_zr0RGF58d-X771Zi_dc
